@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=vietnamese');

@font-face {
    font-family: 'UTMBebas';
    src: url('../fonts/UTMBebas.eot');
    src: url('../fonts/UTMBebas.eot') format('embedded-opentype'),
         url('../fonts/UTMBebas.woff2') format('woff2'),
         url('../fonts/UTMBebas.woff') format('woff'),
         url('../fonts/UTMBebas.ttf') format('truetype'),
         url('../fonts/UTMBebas.svg#UTMBebas') format('svg');
}

body{
	color:#000;
	font-size: 14px;
	@include Opensans();
    padding-top: 80px;
}

.clickable{
    cursor: pointer;
}