.course-detail-header{

	img.page-course-uni-logo{
		@include border-radius(5px);
    	height: 115px;
    	margin-right: 15px;
    	margin-bottom: 24px;
    	border: 1px solid #ccc;
	}
	h1{
		font-size: 30px;
		font-weight:600;
		margin-top: 0;
		margin-bottom: 10px;
	}
	h4{
		display: inline-block;
	   font-size: 19px;
	   font-weight: 400;
	   margin: 0;
	}
	.compare-btn, .apply-btn{
		float: right;
	}
	.apply-btn{
		margin-right: 10px;
	}
}

.martop5px {
    margin-top: 5px;
}

.course_details{
	margin-right: -7px;
	margin-left: -7px;
	.col{
		padding-right: 7px;
		padding-left: 7px;
	}
	.info_box_item{
	    display: table;
	    font-weight: 100;
	    list-style: outside none none;
	    margin-left: 0;
	    padding: 10px 15px;
	    width: 100%;
	    border-bottom: 1px solid #ebebeb;
	    &:last-child{
	    	border-bottom: 0;
	    }
	   &.undergraduate .right {
		   font-size: 30px;
		}
		.grade-type {
	    	max-width: 85px;
		}
		.smaller {
		    font-weight: 100;
		    font-size: 15px;
		}
		.header {
		    display: table-cell;
		    font-size: 15px;
		    font-weight: 100;
		    padding: 0;
		    text-transform: uppercase;
		    vertical-align: middle;
		}
		div.right {
		    font-size: 25px;
		    padding: 0;
		    text-transform: uppercase;
		}
		div.right.scholarship {
		    float: right;
		    font-size: 14px;
		    max-width: 87%;
		    text-transform: none;
		}
	}
	span{
		display: table-cell;
      vertical-align: middle;
      &.display-table-row {
		    display: table-row;
		}
	}
	.rank-name {
	    font-size: 15px;
	}
	.course-rank {
	    font-size: 27px;
	    line-height: 1;
	    width: 60px;
	}
	.box-ranking{
		.title-box{
			padding: 13px 15px;
		}
		i{
			font-size: 25px;
		}
	}
	.duration {
	    min-height: 108px;
	    text-align: center;
	    .number {
			    font-size: 60px;
			    font-weight: 600;
			    line-height: 1;
			}
			#years {
			    display: table-row;
			}
	}
	.graduate-in {
	   min-height: 130px;
	   text-align: center;
	   i {
		    font-size: 40px;
		}
	   span {
		    font-size: 20px;
		    line-height: 1.2;
		}
	}
	a{
		font-size: 25px;
     line-height: 28px;
     text-decoration: none;
     color: #000;
	}
}


.about-course{
	h2{
		font-size: 25px;
      text-transform: uppercase;
      vertical-align: middle;
      margin: 0 0 15px;
      @include UTMBebas();
	}
}
.rowsec{
	padding-bottom: 40px;
	padding-top:50px;
}
#askus {
    background: #eee none repeat scroll 0 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    margin-top: 40px;
    p {
	    font-size: 19px;
	    margin-bottom: 0;
	    max-width: none;
	}
}