.search-general{
	background-color: $color-link;
	padding: 30px;
	margin-bottom: 40px;
	.form{
		height: 54px;
		position: relative;
		border:1px solid #eaeaea;
		.form-control{
			border:none;
			@include border-radius(0);
			@include box-shadow(none);
			height: 52px;
		}
		button{
			border:none;
			cursor: pointer;
			background-color: transparent;
			position: absolute;
			top:0;
			right: 0;
			width: 52px;
			text-align: center;
			line-height: 52px;
			i{
				vertical-align: middle;
			}
		}
	}
}

.bg-light-blue{
	background-color: #91a7d0;
}
.bg-brown{
	background-color: #b6ba99;
}
.bg-dark-blue{
	background-color: #648589;
}
.bg-light-brown{
	background-color: #a8b0ae;
}
.bg-dark-blue{
	background-color: #807c6f;
}
.bg-light-violet{
	background-color: #af869a;
}
.bg-dark-orange{
	background-color: #af9976;
}
.bg-light-orange{
	background-color: #ceb799;
}

.tile-guide{
	color:$white;
	font-size: 18px;
	text-transform: uppercase;
	@include UTMBebas();
	display: block;
	padding: 18px;
	min-height: 175px;
	position: relative;
	margin-bottom: 20px;
	.content{
		position: absolute;
		bottom:18px;
		left: 18px;
		right: 18px;
	}
	p{
		margin: 0;
	}
	&:hover, &:focus{
		color:$white;
		text-decoration: none;
	}
	.icon{
		height: 59px;
		line-height: 59px;
		margin-bottom: 10px;
		@include transition-value(all 0.3s ease);
		i{
			vertical-align: bottom;
		}
	}
	&:hover{
		.icon{
			margin-left:10px;
		}
	}
}

.list-guides{
	margin-bottom: 78px;
	.row{
		.col-md-3{
			@include screen-size-min(md){
				&:nth-child(4n+5){
					clear: left;
				}
			}
			@include screen-size(sm){
				&:nth-child(2n+3){
					clear: left;
				}
			}
		}
	}
}



.choose-list-guide{	
   max-width: 280px;
   margin-bottom: 20px;
   .form-control{
      height: 50px;
		box-shadow: none;
		text-transform: uppercase;
		@include UTMBebas();
		color: #000;
		font-size: 20px;
   }
}

.box-category-guide{
	margin-bottom: 20px;
	h3{
		text-transform: uppercase;
		@include UTMBebas();
		font-size: 26px;
		margin: 0;
	}
	ul{
		list-style: none;
		padding:0;
		margin:0;
		li{
			margin-left: -10px;
			a{
				font-size: 16px;
				@include transition-value(all 0.1s ease-in 0s);
				padding:5px 10px 5px;
				display: inline-block;
				color:#000;
				&:hover{
					background: #f5f5f5;
					@include border-radius(5px);
					text-decoration: none;
				}
			}
		}
	}
}

.guide-list-page{
	padding-bottom: 30px;
}

.left-guide-detail{
	.search-general{
		background-color:transparent;
		padding:0;
		margin-bottom:15px;
	}
	.choose-list-guide{
		max-width: 100%;
		margin-bottom: 15px;
	}
	.box-category-guide{
		h3{
			font-size: 22px;
		}
		ul{
			li{
				a{
					font-size: 14px;
				}
			}
		}
	}
	.sidebar-nav-fixed{
		height: 100%;
    max-height: 64vh;
    overflow-x: hidden;
    overflow-y: auto;
	}
	.fixed &{
		position: absolute;
		left: 15px;
		right: 15px;
	}
}

#guide-detail{
	padding-bottom: 50px;
}

.guide-detail-header{
	@include clearfix();
	border-bottom:1px dotted #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
	.fblike{
		float: right;
	}
	.category{
		display: inline-block;
		a{
			font-size: 16px;
			color:$color-link;
			&:hover{
				text-decoration:none;
			}
		}
	}
	&.bottom{
		border-top:1px dotted #ddd;
		padding-top: 10px;
		border-bottom:none;
		margin-top:35px;
	}
}

.content-guide-detail{
	h1{
		 font-size: 32px;
	    line-height: 1.2;
	    margin: 15px 0;
	    font-weight: 600;
	    @include clearfix();
	    @include screen-size(xs){
	    	font-size: 22px;
	    }
	    .fa{
	    	color: #9fca24;
    		font-size: 37px;
    		float: left;
    		@include screen-size(xs){
		    	font-size: 30px;
		    }
	    }
	    span{
	    	margin-left: 8px;
	    	float: left;
    		max-width: 90%;
	    }
	}
}

.faq-answer{
	margin-left: 41px;
	@include screen-size(xs){
		margin-left: 0;
	}
	p, li{
		color: #333;
	    font-size: 15px;
	    line-height: 1.7;
	    margin-bottom: 15px;
	    margin-top: 15px;
	}
	h3{
		font-size: 26px;
	   font-weight: 600;
	   margin-top: 50px;
	   margin-bottom: 10px;
	   @include screen-size(xs){
	   	font-size: 20px;
	   }
	}
	ul, ol{
		margin-bottom: 30px;
    	margin-top: 15px;
	}
}

.author{
	@include border-radius(10px);
    font-size: 15px;
    margin-top: 60px;
    max-width: 560px;
    @include screen-size-max(sm){
    	text-align: center;
    	margin-left:auto;
    	margin-right:auto;
    }
    @include screen-size(xs){
    	background: #eee none repeat scroll 0 0;
	    padding: 15px;
    }
	img{
		@include border-radius(50%);
	    display: inline-block;
	    margin-bottom: 5px;
	    margin-right: 5px;
	    max-height: 100px;
	    max-width: 100px;
	    width: 100%;
	}
	.content{
		max-width: 360px;
		@include screen-size-max(sm){
	    	margin-left:auto;
	    	margin-right:auto;
	    }
		.name{
			font-weight: 600;
			max-width: 500px;
			@include screen-size-max(sm){
		    	margin-left:auto;
		    	margin-right:auto;
		    }
		}
		.btn{
			width: 200px;
			max-width: 100%;
		}
	}
}

.martop10 {
    margin-top: 10px;
}