.navbar-default{
	min-height: 80px;
	background: #fff;
	border:none;
	@include border-radius(0);
	.navbar-nav{
		margin-top: 23px;
		margin-right: 0;
		&>li{
			&>a{
				text-transform: uppercase;
				@include UTMBebas();
				font-size: 18px;
				color:#000;
				padding: 18px 22px;
				&:hover, &:focus{
					color:$color-link;
				}
			}
			&.active, &.open{
				a, a:hover, a:focus{
					background-color: transparent;
					color:$color-link;
				}
			}
			.open-search{
				margin: 21px 0 0 17px;
				display: inline-block;
			}
			.open-user{
				display: inline-block;
				background-color: $color-link;
				width: 45px;
				height: 46px;
				text-align:center;
				vertical-align:middle;
				line-height: 46px;
				margin: -8px 0 0 44px;
				i{
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}


.sub-menu{
	background-color: $color-bg-nav;
	color:#fff;
	display: none;
	a{
		color:#fff;
		display: block;
		&:hover, &:focus{
			color: #fff;
			text-decoration:underline;
		}
	}
	.slide-section{
		display: none;
		h1{
			color: #fff;
		    font-size: 34px;
		    line-height: 1;
		    text-transform: uppercase;
		    vertical-align: middle;
		    margin: 30px 0;
		    @include UTMBebas();
		}
		h4{
		    color: #fff;
		    text-transform: uppercase;
		    @include UTMBebas();
		    font-size: 18px;
		    margin: 10px 0 0;
		}
		h3{
			color: #fff;
		    text-transform: uppercase;
		    @include UTMBebas();
		    font-size: 18px;
		    margin: 0;
		}
	}
}

.recent-uni-spacer{
	margin-bottom: 14px;
}

.closepane {
   cursor: pointer;
   text-align: center;
   width: 100%;
   padding-bottom: 10px;
   i{
   	font-size: 15px;
   	color:#fff;
   	line-height: 1;
   }
}

.li-search{
	position: relative;
	.form{
		background-color: #fff;
		height: 38px;
		width: 0;
		position: absolute;
		top:0;
		right: -1px;
		padding-right: 0;
		@include border-radius(5px);
		@include transition-value(width ease 0.5s);
		overflow: hidden;
		.form-control{
			border:none;
			@include box-shadow(none);
			@include border-radius(5px);
			height:36px;
		}
		button{
			background: transparent;
			cursor: pointer;
			border:none;
			position: absolute;
			top:0;
			right: 0;
			bottom:0;
			line-height: 38px;
			padding: 0;
			width: 30px;
			text-align: center;
		}
	}
	&.open{
		.form{
			width: 250px;
			padding-right: 30px;
			border:1px solid #ddd;
		}
	}
}

.whysignup {
  ul.reasons {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: left;
    li {
      background: url('../img/check.svg') no-repeat left;
      background-size: 20px 20px;
      padding-left: 30px;
      margin-bottom: 10px;
    }
  }
  .header {
    font-size: 21px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
  }
}