.navbar-default{
	min-height: 80px;
	background: #fff;
	border:none;
	@include border-radius(0);
	@include screen-size(xs){
		min-height: 40px;
		@include box-shadow(0 3px 5px rgba(0, 0, 0, 0.6));
	}
	.navbar-nav{
		margin-top: 23px;
		margin-right: 0;
		@include screen-size-max(md){
			margin-top: 10px;
		}
		@include screen-size(xs){
			float: right;
			margin-top: 15px;
		}
		&>li{
			&>a{
				text-transform: uppercase;
				@include UTMBebas();
				font-size: 18px;
				color:#000;
				padding: 18px;
				&:hover, &:focus{
					color:$color-link;
				}
			}
			&.active, &.open{
				a, a:hover, a:focus{
					background-color: transparent;
					color:$color-link;
				}
			}
			.badge {
			    background: #069 none repeat scroll 0 0;
			    border-radius: 3px;
			    float: right;
			    font-size: 14px;
			    font-weight: normal;
			    min-width: 22px;
			    vertical-align: text-top;
			    margin-left: 5px;
			    margin-top: 0;
			    padding: 4px 8px;
			}
			.open-search{
				margin: 21px 0 0 17px;
				display: inline-block;
			}
			.open-user, .user-logged{
				display: inline-block;
				background-color: $color-link;
				width: 45px;
				height: 46px;
				text-align:center;
				vertical-align:middle;
				line-height: 46px;
				margin: -8px 0 0 44px;
				i{
					display: inline-block;
					vertical-align: middle;
				}
			}
			.user-logged{
				background-color: $color-3-hover;
			}
		}
	}
}


.sub-menu{
	background-color: $color-bg-nav;
	color:#fff;
	display: none;
	@include screen-size-max(md){
		position: fixed;
		top:0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 99999;
		overflow-x:hidden;
		overflow-y:auto;
	}
	a{
		color:#fff;
		display: block;
		&:hover, &:focus{
			color: #fff;
			text-decoration:underline;
		}
	}
	.slide-section{
		display: none;
		h1{
			color: #fff;
		    font-size: 34px;
		    line-height: 1;
		    text-transform: uppercase;
		    vertical-align: middle;
		    margin: 30px 0;
		    @include UTMBebas();
		}
		h4{
		    color: #fff;
		    text-transform: uppercase;
		    @include UTMBebas();
		    font-size: 18px;
		    margin: 10px 0 0;
		}
		h3{
			color: #fff;
		    text-transform: uppercase;
		    @include UTMBebas();
		    font-size: 18px;
		    margin: 0;
		}
	}
}

.recent-uni-spacer{
	margin-bottom: 14px;
}

.closepane {
   cursor: pointer;
   text-align: center;
   width: 100%;
   padding-bottom: 10px;
   i{
   	font-size: 15px;
   	color:#fff;
   	line-height: 1;
   }
}

.li-search{
	position: relative;
	.form{
		background-color: #fff;
		height: 38px;
		width: 0;
		position: absolute;
		top:0;
		right: -1px;
		padding-right: 0;
		@include border-radius(5px);
		@include transition-value(width ease 0.5s);
		overflow: hidden;
		.form-control{
			border:none;
			@include box-shadow(none);
			@include border-radius(5px);
			height:36px;
		}
		button{
			background: transparent;
			cursor: pointer;
			border:none;
			position: absolute;
			top:0;
			right: 0;
			bottom:0;
			line-height: 38px;
			padding: 0;
			width: 30px;
			text-align: center;
		}
	}
	&.open{
		.form{
			width: 250px;
			padding-right: 30px;
			border:1px solid #ddd;
		}
	}
}

.whysignup {
  ul.reasons {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: left;
    li {
      background: url('../img/check.svg') no-repeat left;
      background-size: 20px 20px;
      padding-left: 30px;
      margin-bottom: 10px;
    }
  }
  .header {
    font-size: 21px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
  }
}

#right-nav {
    background: rgba(0, 102, 153, 0.98) none repeat scroll 0 0;
    color: #fff;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    @include transition-value(left ease 0.5s);
    left: -1124px;
    #right-nav-container {
	    height: 100%;
	    overflow-y: auto;
	    width: 100%;
	   #closeRightNav {
		    font-size: 25px;
		    padding: 30px 30px 20px 50px;
		    position: absolute;
		    right: 0;
		    top: 0;
		}
	}
	ul{
		list-style-type: none;
    	margin-top: 30px;
    	margin-bottom: 0;
    	padding-left: 40px;
    	@include screen-size(xs){
    		padding-left: 0;
    	}
    	li{
    		a{
    			color: #fff;
			   display: block;
			   padding: 6px 40px;
			   text-decoration: none;
			   font-size: 22px;
			    font-weight: 100;
			    @include screen-size(xs){
			    	font-size: 16px;
			    }
			    .fa{
			    	font-size: 19px;
				    margin-right: 5px;
				    min-width: 21px;
				    @include screen-size(xs){
				    	font-size: 18px;
				    }
			    }
    		}
    		a.right-nav-search .fa {
			    font-size: 20px;
			    vertical-align: middle;
			    @include screen-size(xs){
			    	font-size: 18px;
			    }
			}
			&.navlink{
				&:hover{
					background: #069;
				   cursor: pointer;
				   -moz-transition: all .1s ease-in;
				   -o-transition: all .1s ease-in;
				   -webkit-transition: all .1s ease-in;
				   transition: all .1s ease-in;
				}
			}
    	}
	}
	.lookingfor {
	    font-size: 42px;
	    margin-bottom: 20px;
	    margin-left: 40px;
	    @include screen-size(xs){
	    	font-size: 22px;
	    }
	}
	#closeRightNav {
	    font-size: 25px;
	    padding: 30px 30px 20px 50px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    cursor: pointer;
	    @include screen-size(xs){
	    	padding: 20px 15px;
	    }
	    img{
	    	 max-height: 20px;
    		max-width: 20px;
	    }
	}
}

#header_search_form {
   margin-bottom: 0;
   padding-left: 0;
   padding-right: 0;
   #search {
		font-size: 18px;
		height: 45px;
		border-right: 0 none;
		width: 450px;
		@include screen-size(sm){
			width: 250px;
		}
	}
	.search-btn{
    	background-color: #fff;
	   cursor: pointer;
	   outline: medium none;
	   transition: all 0.1s ease-in 0s;
	}
}
.lg-navbtn {
    background: rgba(251, 251, 251, 0) none repeat scroll 0 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 1px;
    font-size: 30px;
    color:#000;
    margin-top:15px;
    float: left;
    &:hover,&:focus{
    	color:#000;
    }
    @include screen-size(xs){
    	font-size: 20px;
    	margin-top: 5px;
    	padding-right: 0;
    }
}
.navbar-brand{
	@include screen-size(xs){
		padding-top: 10px;
	}
	img{
		@include screen-size(xs){
			width: 150px;
		}
	}
}

.navbar-header{
	@include screen-size(xs){
		float: left;
	}
}
.navbar-right{
	@include screen-size(xs){
		float: right;
	}
}
#left-nav {
	background: rgba(0, 102, 153, 0.98) none repeat scroll 0 0;
	color: #fff;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99998;
	left: -1124px;
	#left-nav-container {
	    height: 100%;
	    overflow-y: auto;
	    width: 100%;
	}
	ul{
		list-style-type: none;
    	margin-top: 30px;
    	margin-bottom: 0;
    	padding-left: 40px;
    	@include screen-size(xs){
    		padding-left: 0;
    	}
    	li{
    		a{
    			color: #fff;
			   display: block;
			   padding: 6px 40px;
			   text-decoration: none;
			   font-size: 22px;
			    font-weight: 100;
			    @include screen-size(xs){
			    	font-size: 16px;
			    }
			    .fa{
			    	font-size: 19px;
				    margin-right: 5px;
				    min-width: 21px;
			    }
    		}
    		a.right-nav-search .fa {
			    font-size: 20px;
			    vertical-align: middle;
			}
			&.navlink{
				&:hover{
					background: #069;
				   cursor: pointer;
				   -moz-transition: all .1s ease-in;
				   -o-transition: all .1s ease-in;
				   -webkit-transition: all .1s ease-in;
				   transition: all .1s ease-in;
				}
			}
    	}
	}
	#closeLeftNav {
	    font-size: 25px;
	    padding: 30px 30px 20px 50px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    cursor: pointer;
	    @include screen-size(xs){
	    	padding: 20px 15px;
	    }
	    img{
	    	 max-height: 20px;
    		max-width: 20px;
	    }
	}
	.badge {
	    border-radius: 3px;
	    float: right;
	    font-weight: normal;
	    margin-left: 2px;
	    margin-top: 0;
	    padding: 5px 10px;
	    vertical-align: text-top;
	    background: #005c8a none repeat scroll 0 0;
	    font-size: 17px;
	    min-width: 30px;
	}
}

#closeSubNav {
    font-size: 25px;
    padding: 30px 30px 20px 50px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    @include screen-size(xs){
    	padding: 20px 15px;
    }
    img{
    	 max-height: 20px;
 		max-width: 20px;
    }
}

.fixed-header{
	.navbar-default{
		@include box-shadow(0 3px 5px rgba(0, 0, 0, 0.6));
	}
}
.top-alert{
	position: fixed;
	top:80px;
	right: 0;
	z-index: 999;
	width: 320px;
	max-width: 100%;
	@include screen-size-max(sm){
		top:40px;
	}
}