.banner-home{
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	text-align: center;
	padding:50px 0;
	overflow: hidden;
	margin-bottom: 75px;
	@include screen-size-max(sm){
		min-height: 380px;
	}
	@include screen-size(xs){
		background-image: none !important;
		min-height: 1px;
		margin-bottom: 30px;
	}
	.container{
		position: relative;
		min-height: 500px;
		@include screen-size-max(sm){
			min-height: 380px;
		}
		@include screen-size(xs){
			min-height: 1px;
		}
	}
	.text{
		text-align: center;
		display: inline-block;
		max-width: 640px;
		position: absolute;
		bottom: 0;
		left: 50%;
		@include transform(translateX(-50%));
		@include screen-size(md){
			left: 0;
			@include transform(translateX(0));
		}
		@include screen-size-max(sm){
			max-width: 100%;
			width: 90%;
		}
		@include screen-size(xs){
			position: static;
			@include transform(translateX(0));
		}
		h1{
			color:$color-1;
			text-transform: uppercase;
			margin: 0 0 8px;
			font-size: 40px;
			@include UTMBebas();
			font-weight: normal;
			@include screen-size-max(md){
				font-size: 28px;
			}
		}
		.description{
			font-size: 18px;
			line-height: 1.7;
			@include screen-size-max(md){
				font-size: 16px;
			}
		}
	}
	.btn-mobile{
		margin-top: 15px;
	}
}

.free-assessment{
	float:right;
	color:$white;
	background-color: $color-link;
	width: 230px;
	text-align: left;
	padding: 23px 15px 30px 30px;
	position: relative;
	@include screen-size(md){
		width: 250px;
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		top:0;
		bottom: 0;
		left: 100%;
		width: 2000px;
		background-color: $color-link;
	}
	h2{
		margin: 0 0 15px;
		font-size: 24px;
		font-weight: normal;
		@include UTMBebas();
		background:url(../img/sprites/smile.png) no-repeat left 2px;
		padding-left: 35px;
		padding-bottom: 3px;
	}
	.description{
		font-size: 18px;
		margin-bottom: 16px;
		p{
			margin: 0;
		}
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 16px;
		li{
			position: relative;
			padding-bottom: 10px;
			label{
				position: relative;
				display: block;
				padding-left: 30px;
				font-weight: normal;
				&:hover{
					color: $color-2;
				}
				&:before{
					content: "";
					@include use-sprite("check",true);
					position: absolute;
					left: 0;
					top:0;
					display: none;
				}
			}
			input[type="checkbox"]{
				position: absolute;
				opacity: 0;
				top:0;
				left: 0;
				&:checked{
					&+label{
						&:before{
							display: block;
						}
					}
				}
			}			
		}
	}

	.bottom{
		margin-right: -15px;
		padding-top: 10px;
	}
}

.steps-guide{
	background:url(../img/line.jpg) repeat-y top center;
	margin-bottom: 110px;
	@include screen-size(xs){
		background:none;
		margin-bottom: 30px;
	}
	.step{
		@include clearfix();
		position: relative;
		margin-bottom: 32px;
		@include screen-size(xs){
			margin-bottom: 0;
		}
		.step-icon{
			width: 50%;
			float: left;
			padding-right: 75px;
			text-align: right;
			@include screen-size(xs){
				display: none;
			}
		}
		.step-text{
			width: 50%;
			float: right;
			padding-left: 74px;
			@include screen-size(xs){
				width: auto;
				float: none;
				padding-left: 0;
			}
			.text-box{
				position: relative;
				border:1px solid #eaeaea;
				position: relative;
				padding: 38px 62px;
				min-height: 165px;
				@include screen-size(xs){
					padding: 20px 15px;
					border:none;
					min-height: 1px;
				}
				&:before, &:after{
					content: "";
					display: block;
					width: 0;
					height: 0;
					position: absolute;
					top:0;
					@include transform(translateY(-50%));
					top:50%;
					@include screen-size(xs){
						display: none;
					}
				}
				&:before{
					border-top: 15px solid transparent;
					border-right: 15px solid #eaeaea;
					border-bottom: 15px solid transparent;
					left: -15px;
					z-index: 1;
				}
				&:after{
					border-top: 13px solid transparent;
					border-right: 13px solid #fff;
					border-bottom: 13px solid transparent;
					left: -13px;
					z-index: 2;
				}
				h4{
					margin: 0 0 10px;
					font-size: 24px;
					@include UTMBebas();
					text-transform: uppercase;
					color:$color-link;
				}
			}
		}
		.step-number{
			position: absolute;
			top:32px;
			left: 50%;
			width: 98px;
			height: 98px;
			color:$white;
			@include border-radius(50%);
			text-align: center;
			@include transform(translateX(-50%));
			text-transform: uppercase;
			font-size: 20px;
			padding-top: 13px;
			@include screen-size(xs){
				position: static;
				@include transform(translateX(0));
				margin: auto;
			}
			span{
				display: block;
				@include UTMBebas();
				font-size: 48px;
				line-height: 1;
				margin-top: -9px;
			}
		}
	}
	.container{
		.step{
			&:nth-child(2n+2){
				.step-icon{
					float: right;
					padding-left: 75px;
					padding-right: 0;
					text-align: left;
					.icon-box{
						&:after{
							left: -15px;
							right: auto;
							border-left: none;
							border-right-width:15px;
							border-right-style: solid;
						}
					}
				}
				.step-text{
					float: left;
					padding-left: 0;
					padding-right: 75px;
					@include screen-size(xs){
						float: none;
						padding-right: 0;
					}
					.text-box{
						text-align: right;
						@include screen-size(xs){
							text-align: left;
						}
						&:after{
							border-left: 13px solid #fff;
							border-right: none;
							left: 100%;
						}
						&:before{
							border-left: 15px solid #eaeaea;
							border-right: none;
							left: 100%;
						}
					}
				}
			}
		}
	}

	.step-1{
		&:before{
			content: "";
			width: 2px;
			height: 32px;
			background-color: #fff;
			position: absolute;
			top:0;
			left: 50%;
			margin-left: -1px;
			display: block;
		}
		.icon-box{
			background-color: $color-link;
			&:after{
				border-left: 15px solid $color-link;
			}
			span{			
				background-color: #4e73ae;			
			}
			&:hover{
				span{
					background-color: $color-link;
				}
			}
		}
		.step-number{
			background-color: $color-link;
		}
		.step-text{
			.text-box{
				h4{
					color:$color-link;
				}
			}
		}
	}

	.step-2{
		.icon-box{
			background-color: #199078;
			&:after{
				border-right: 15px solid #199078;
			}
			span{			
				background-color: #1cbe9d;			
			}
			&:hover{
				span{
					background-color: #199078;
				}
			}
		}
		.step-number{
			background-color: #199078;
		}
		.step-text{
			.text-box{
				h4{
					color: #199078;
				}
			}
		}
	}

	.step-3{
		.icon-box{
			background-color: #744391;
			&:after{
				border-left: 15px solid #744391;
			}
			span{			
				background-color: #9962ba;			
			}
			&:hover{
				span{
					background-color: #744391;
				}
			}
		}
		.step-number{
			background-color: #744391;
		}
		.step-text{
			.text-box{
				h4{
					color: #744391;
				}
			}
		}
	}

	.step-4{
		margin-bottom: 0;
		&:before{
			content: "";
			width: 2px;
			background-color: #fff;
			position: absolute;
			top:130px;
			left: 50%;
			margin-left: -1px;
			bottom:0;
			display: block;
		}
		.icon-box{
			background-color: #434591;
			&:after{
				border-right: 15px solid #434591;
			}
			span{			
				background-color: #6466b8;			
			}
			&:hover{
				span{
					background-color: #434591;
				}
			}
		}
		.step-number{
			background-color: #434591;
		}
		.step-text{
			.text-box{
				h4{
					color: #434591;
				}
			}
		}
	}
}



.icon-box{
	width: 180px;
	height: 165px;
	display: inline-block;
	text-align: center;
	line-height: 165px;
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top:15px solid transparent;
		border-bottom:15px solid transparent;
		position: absolute;
		top:50%;
		margin-top: -15px;
		left: 100%;
	}
	span{
		width: 97px;
		height: 97px;
		@include border-radius(50%);
		display: inline-block;
		vertical-align: middle;
		@include transition-value();
		line-height: 97px;
		i{
			vertical-align: middle;
		}
	}
}

.blog-home{
	padding-bottom: 50px;
	.row{
		@include screen-size(lg){
			margin-left: -45px;
			margin-right: -45px;
			.col-md-4{
				padding-left: 45px;
				padding-right: 45px;
			}
		}
	}
}
.blog-item{
	margin-bottom: 30px;
	.header-blog{
		border-bottom: 11px solid $color-link;
		font-size: 36px;
		margin-bottom: 22px;
		@include screen-size(xs){
			font-size: 34px;
		}
		h2{
			font-size: 60px;
			margin:0 0 -5px;
			color:$color-link;
			@include screen-size(xs){
				font-size: 50px;
			}
		}
	}
	.description{
		line-height: 1.6;
		margin-bottom: 14px;
	}
}

.reviews{
	background-color: #f7f7f7;
	padding: 90px 0;
	margin-bottom: 78px;
	overflow: hidden;
	@include screen-size(xs){
		padding: 30px 0;
		margin-bottom: 55px;
	}
	.slider{
		margin: 0 -25px;
		.slick-dots{
			margin: 23px 0 0;
			list-style: none;
			padding:0;
			text-align: center;
			li{
				display: inline-block;
				button{
					border:none;
					font-size: 0;
					width: 9px;
					height: 9px;
					padding: 0;
					margin: 0 3px;
					@include border-radius(50%);
					background-color: #dcdcdc;
					cursor: pointer;
					&:hover{
						background-color: $color-link;
					}
				}
				&.slick-active{
					button{
						background-color: $color-link;
					}
				}
			}
		}
	}
}

.review-item{
	@include clearfix();
	padding: 0 25px;
	.avatar-rating{
		text-align: center;
		float: left;
		width: 186px;
		@include screen-size(xs){
			float: none;
			margin:auto auto 20px;
		}
	}
	.rating{
		color:#2db04a;
	}
	.avatar{
		width: 186px;
		height: 186px;
		border:3px solid #e9e9e9;
		@include border-radius(50%);
		text-align: center;
		line-height: 180px;
		img{
			width: 160px;
			height: 160px;
			display: inline-block;
			vertical-align: middle;
			@include border-radius(50%);
		}
	}
	.text{
		margin-left: 202px;
		border-left:2px solid #e1e1e1;
		position: relative;
		padding-left: 20px;
		@include screen-size(xs){
			margin-left: 0;
			border:none;
			padding-left: 0;
			border:none;
		}
		&:before, &:after{
			content: "";
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			top:50%;
			@include transform(translateY(-50%));
			@include screen-size(xs){
				display: none;
			}
		}
		&:before{
			border-top:10px solid transparent;
			border-bottom:10px solid transparent;
			border-right:10px solid #e1e1e1;
			left: -10px;
			z-index: 1;
		}
		&:after{
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
			border-right:6px solid #f7f7f7;
			left: -6px;
			z-index: 2;
		}
	}
	&.right{
		.avatar-rating{
			float: right;
			@include screen-size(xs){
				float: none;
			}
		}
		.text{
			margin-left: 0;
			margin-right: 202px;
			text-align: right;
			border-left: none;
			border-right:2px solid #e1e1e1;
			padding-left: 0;
			padding-right: 20px;
			@include screen-size(xs){
				text-align: left;
				border:none;
				padding-right: 0;
				margin-right: 0;
			}
			&:before{
				border-right:none;
				border-left:10px solid #e1e1e1;
				left: 100%;
			}
			&:after{
				border-right:none;
				border-left:6px solid #f7f7f7;
				left: 100%;
			}
		}
	}
}

.wrap{
	max-width: 940px;
	margin: auto;
}

.let-started{
	margin-bottom: 70px;
	@include screen-size(xs){
		margin-bottom: 45px;
	}
	img{
		display: block;
		margin: auto auto 44px;
	}
	h2{
		color:$color-link;
		font-size: 36px;
		margin: 0 0 22px;
	}
	.description{
		margin-bottom: 15px;
	}
	.btn{
		width: 340px;
		max-width: 100%;
	}
}

.contact-home{
	border:1px solid #e5e5e5;
	padding: 43px 50px 20px;
	margin-bottom: 65px;
	@include screen-size(xs){
		padding: 35px 20px 20px;
		margin-bottom: 50px;
	}
	h3{
		margin: 0 0 26px;
		color:$color-link;
		font-size: 24px;
	}
	.row{
		@include screen-size(lg){
			margin-left: -40px;
			margin-right: -40px;
			.col{
				padding-left: 40px;
				padding-right: 40px;
			}
			.col-md-3{
				width: 22.5%;
			}
			.col-md-4{
				width: 30.16%
			}
			.col-md-5{
				width: 47.34%;
			}
		}
	}
}

.university-guide{
	margin-bottom: 30px;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			padding-left: 15px;
			position: relative;
			margin-bottom: 20px;
			&:before{
				content: "";
				width: 6px;
				height: 6px;
				@include border-radius(50%);
				background-color: #2db04a;
				position: absolute;
				top:7px;
				left: 0;
			}
		}
	}
}

.form-contact{
	margin-bottom: 30px;
	.form-control{
		border:none;
		border-bottom: 1px solid #e5e5e5;
		@include box-shadow(none);
		color:#999999;
		@include placeholder(#999999);
		@include border-radius(0);
		padding-left: 0;
	}
	textarea.form-control{
		height: 80px;
	}
	.form-group{
		margin-bottom: 3px;
	}
	.bottom{
		padding-top: 17px;
	}
}

.maps{
	margin-bottom: 30px;
	strong{
		color:#42a4d3;
	}
	p{
		margin: 0;
	}
	.img{
		margin-bottom: 14px;
	}
}