#login_drawer {
    position: relative;
    // display: none;
    padding: 40px 20px;
    font-size: 17px;
    box-shadow: 1px 1px 10px #888;
}

.bgr-gray {
    background: #e8e8e8;
}

#login_drawer .login_drawers {
    min-height: 105px;
}

#login_drawer .login-header, #page_confirmemail .login-header {
    @include UTMBebas();
    font-size: 50px;
}

#login_drawer #facebook_login .login-header {
    font-size: 70px;
}

.headingnav div.button, .blue_button {
    background-color: #069;
    border-radius: 4px;
    border: none;
    height: 50px;
    font-size: 17px;
    width: auto;
    min-width: 260px;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    -moz-transition: background-color .1s ease-in;
    -o-transition: background-color .1s ease-in;
    -webkit-transition: background-color .1s ease-in;
    transition: background-color .1s ease-in;
    &:hover{
    	background-color: #006ea5;
    	color:#fff;
    }
}

#login_drawer .fb-button {
    height: 50px;
    width: auto;
    display: inline-block;
    font-size: 17px;
    line-height: 44px;
}

#login_drawer .fb-button img.fb-login {
    height: 16px;
    margin-left: 4px;
    vertical-align: initial;
}

#login_drawer input[type=text], #login_drawer input[type=password] {
    -webkit-appearance: none;
    height: 47px;
}
@media only screen and (min-width: 768px){
	.form-inline .form-control {
	    display: inline-block;
	    width: auto;
	    vertical-align: middle;
	}
	#login_drawer .form-control {
	    width: 240px;
	}
}

#login_drawer a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    line-height: normal;
}
.blue-btn {
    background-color: #069;
    text-transform: uppercase;
    border-radius: 5px!important;
    padding: 10px 20px;
    min-width: 120px;
    color: #fff;
    outline: 0;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    white-space: normal;
    &:hover{
    	background-color: #006ea5;
    	color:#fff;
    }
}

.login_footer.cancel {
    position: absolute;
    top: 15px;
    right: 15px;
}
#login_drawer .fa-chevron-up {
    color: #bbb;
    &:hover{
    	color:$color-link;
    }
}

.navbar-nav>li>.gtt-get-help.dropdown-menu {
    min-width: 210px;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    li{
    	padding: 10px 0;
    	&:hover{
    		background-color: #f5f5f5;
    	}
    	a{
    		color: #000;
		    font-size: 16px;
		    text-decoration: none;
		    text-transform: uppercase;
		    padding: 9px 20px;
		    cursor: pointer;
		    @include UTMBebas();
		    &:hover{
		    	color: $color-link;
		    }
    	}
    }
}