#course-sort-select{
	.btn{
		border:1px solid #ccc;
		color:#000;
		@include Opensans();
		font-size: 16px;
		text-transform: none;
		@include border-radius(8px);
		&:hover{
			border-color:$color-link;
			background-color: transparent;
			@include border-radius(8px);
		}
	}
	&.open{
		.btn{
			background-color: transparent;
			@include border-radius(8px);
		}
	}
	.dropdown-menu {
	   width: 270px;
	   li{
	   	a{
	   		padding: 9px 20px;
	   		font-size: 16px;
	   		cursor: pointer;
	   	}
	   }
	}
}
.header-sort{
	margin-bottom: 20px;
	padding-top:20px;
}