.subject-detail{
	img{
		display: block;
		margin-bottom: 30px;
	}
	.description{
		line-height: 1.7;
		padding-bottom: 30px;
	}
}

.box-filter {
    border: 1px solid #eaeaea;
    padding: 20px 30px 22px;
    margin-bottom: 35px;
    &.progress-filter{
    	padding-bottom: 60px;
    	.title-box{
    		margin: 0 0 43px;
    	}
    }
}

.alevel{
	width: 786px;
	max-width: 100%;
	height: 13px;
	background-color: $color-3;
	@include border-radius(7px);
	position: absolute;
	top:0;
	left: 0;
}

.bg-alevel{
	width: 786px;
	max-width: 100%;
	height: 13px;
	background-color: #cdcdcd;
	@include border-radius(7px);
	position: relative;
	span{
		position: absolute;
		top:-15px;
		border:1px solid #eaeaea;
		background-color: $white;
		left: 0;
		height: 42px;
		min-width: 73px;
		line-height: 40px;
		padding: 0 5px;
		cursor: pointer;
		text-align: center;
		@include border-radius(21px);
		margin-left: -36px;
		&.first{
			margin-left: 0;
		}
	}
}

.col-no-pad-right{
	padding-right: 0;
}

.filter-result.subjects{
	.title-box{
		border-bottom:2px solid #bbbbbb;
		span{
			color:$color-link;
			border-bottom:2px solid $color-link;
			display: inline-block;
			padding-bottom: 10px;
			margin-bottom: -2px;
		}
	}
	.list-courses{
		.btn{
			@include screen-size-max(sm){
				min-width: 95px;
			}
		}
	}
}