.header-page{
	margin-bottom: 24px;
}
.title-header{
	font-size: 36px;
	text-transform: uppercase;
	margin: 0;
	@include UTMBebas();
}
.sub-title{
	text-transform: uppercase;
	font-size: 20px;
	@include UTMBebas();
	color:$color-link;
	margin: 0;
}

.link-neo{
	margin: 0;
	padding: 0;
	text-align:center;
	list-style:none;
	float: right;
	@include screen-size-max(md){
		float: none;
		margin-top: 15px;
	}
	li{
		float:left;
		margin-right: 50px;
		@include screen-size(xs){
			margin-right: 20px;
		}
		&:last-child{
			margin-right: 0;
		}
		.neo{
			color:#000;
			@include UTMBebas();
			font-size: 20px;
			text-transform:uppercase;
			&:hover, &:focus{
				color:#000;
				text-decoration:none;
			}
			@include screen-size-max(sm){
				font-size: 16px;
			}
			.icon{
				display: inline-block;
				margin-bottom: 3px;
				// height: 33px;
				// line-height: 33px;
				i{
					// vertical-align: middle;
					font-size: 35px;
					@include screen-size-max(sm){
						font-size: 30px;
					}
				}
			}
		}
	}
}

.uni-info{
	@include clearfix();
	background-color: $color-link;
	margin-bottom: 30px;
	.img{
		float: left;
		width: 65.66%;
		@include screen-size-max(sm){
			width: 100%;
		}
	}
	.info{
		float: right;
		width: 34.34%;
		background-color: $color-link;
		color:$white;
		font-size: 16px;
		padding-top: 30px;
		@include screen-size(md){
			padding-top: 15px;
			font-size: 14px;
		}
		@include screen-size-max(sm){
			width: 100%;
		}
		h3{
			margin:0 30px 22px 30px;
			font-size: 24px;
			text-transform:uppercase;
			@include UTMBebas();
			@include screen-size(md){
				margin-bottom: 10px;
			}
		}
		.item{
			@include clearfix();
			border-bottom:1px solid rgba(#fff,0.1);
			padding-bottom: 8px;
			margin-bottom: 8px;
			@include screen-size(md){
				padding-bottom: 4px;
				margin-bottom: 4px;
			}
			&:last-child{
				border-bottom:0;
			}
			.lbl{
				float: left;
				width: 50%;
				padding-left: 30px;
				padding-right: 15px;
			}
			.right{
				float: left;
				width: 50%;
				text-align:right;
				padding-right: 30px;
				padding-left: 15px;
			}
		}
	}
}

.breadcrumb-page{
	background-color: $color-link;
	color:$white;
	@include clearfix();
	padding: 20px;
	margin-bottom: 30px;
	.list{
		list-style: none;
		margin: 0;
		padding:0;
		font-size: 18px;
		@include UTMBebas();
		text-transform: uppercase;
		li{
			float: left;
			margin-left: 40px;
			&:first-child{
				margin-left: 0;
			}
			a{
				color: $white;
				&:hover, &:focus{
					color: $white;
					text-decoration: none;
				}
			}
		}
	}

	.social{
		float: right;
	}
}

.tags{
	a{
		display: inline-block;
		border:1px solid #ebebeb;
		color:$color-link;
		padding: 8px;
		@include transition-value();
		margin-bottom: 6px;
		i{
			margin-right: 5px;
		}
		&:hover, &:focus{
			background-color: $color-link;
			color: $white;
			text-decoration: none;
		}
	}
	.item{
		margin-bottom: 10px;
	}
	.tag{
		margin-bottom: 6px;
		position: relative;
		label{
			display: inline-block;
			border:1px solid #ebebeb;
			color:$color-link;
			padding: 8px;
			@include transition-value();
			font-weight: normal;
			i{
				display: none;
			}
			&:hover{
				border:2px solid $color-link;
				color: $color-link;
				text-decoration: none;
				padding: 7px;
			}
		}
		input{
			opacity: 0;
			position: absolute;
			top:0;
			left: 0;
			&:checked{
				&+label{
					border:2px solid $color-link;
					color: $color-link;
					padding: 7px;
				}
			}
		}
	}
}

.box{
	margin-bottom: 24px;
}

.box.our-campuses{
	@include screen-size-min(md){
		padding-left: 10px;
	}
	.tags{
		margin-top: 50px;
	}
}

.box.about{
	@include screen-size-min(md){
		padding-right: 10px;
	}
}

.map-uni{
	margin-bottom: 46px;
}

.box-ranking{
	border:1px solid #ebebeb;
	margin-bottom: 40px;
	.title-box{
		margin-bottom: 3px;
		border-bottom: 1px solid #ebebeb;
		padding: 13px 26px;
	}
	.item{
		@include clearfix();
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 10px;
		margin-bottom: 6px;
		min-height: 67px;
		&:last-child{
			border-bottom:none;
		}
		.number{
			float: left;
			width: 50%;
			padding-left: 26px;
			padding-right: 13px;
			span{
				font-size: 24px;
			}
		}
		.lbl{
			float: left;
			width: 50%;
			text-align:right;
			padding-left: 13px;
			padding-right: 26px;
		}
	}
	&.left{
		margin-right: 10px;
	}
	&.right{
		margin-left: 10px;
	}
}

.undergraduate-courses{
	border:1px solid #eaeaea;
	padding: 20px 30px 22px;
	margin-bottom: 35px;
	.tags{
		a{
			i{
				display: none;
			}
			&.selected{
				background-color: $color-link;
				color: $white;
				i{
					display: inline-block;
				}
			}
		}
	}
}

a.course_name {
    font-size: 18px;
    line-height: normal;
    margin-right: 1px;
}
.classification {
    position: relative;
    color: #888;
    display: block;
}

.tip{
	font-size: 18px;
	line-height: normal;
}
.sub-tip{
	font-size: 12px;
	color: #666666;
}
.display-block{
	display: block;
}

.cell {
    display: inline-block;
    min-width: 95px;
    height: 50px;
    text-align: center;
    vertical-align: top;
    margin: 0 5px;
    border:1px solid #eaeaea;
    @include screen-size(md){
    	min-width: 90px;
    }
}

.cell_1 {
    display: inline-block;
    // min-width: 95px;
    height: 50px;
    text-align: center;
    vertical-align: top;
    margin: 0 5px;
}

.see-pathways{
	i{
		color: $color-3;
		cursor: pointer;
	}
}

.uni-logo{
	border:1px solid #eaeaea;
}

.compare-btn{
	@include screen-size(xs){
		margin-left: -5px;
	}
	label{
		font-weight: normal;
		margin: 0;
		i{
			display: none;
		}
	}
	input{
		opacity: 0;
		position: absolute;
		top:0;
		left: 0;
		&:checked{
			&+label{
				i{
					display: inline-block;
				}
			}
		}
	}
}

.list-courses{
	.item{
		margin-bottom: 20px;
	}
	.btn{
		font-size: 14px;
		padding: 15px 12px;
		min-width: 105px;
		@include screen-size(md){
			min-width: 1px;
		}
	}
}

.arrow-box{
	position: relative;
   background: #e8e8e8;
   border: 1px solid #e8e8e8;
   @include border-radius(20px);
   margin-top: 30px;
   padding: 10px;
   display: none;
   &:before{
   	bottom: 100%;
    	right: 23%;
	   border: solid transparent;
	   content: " ";
	   height: 0;
	   width: 0;
	   position: absolute;
	   pointer-events: none;
	   border-color: rgba(187,187,187,0);
	   border-bottom-color: #eaeaea;
	   border-width: 14px;
	   margin-left: -14px;
   }
   .tree{
   	position: relative;
	   width: 100%;
	   min-height: 320px;
	   .info{
	   	font-size: 15px;
    		margin: 20px;
    		h1{
    			font-size: 24px;
			   @include UTMBebas();
			   text-transform: uppercase;
			   margin-top: 0;
    		}
    		a.whichroute {
			    cursor: pointer;
			    font-size: 17px;
			}
			div{
				position: relative;
			}
			ul{
				font-size: 13px;
				padding: 0;
				list-style: none;
				margin: 0 0 10px;
				li{
					margin-bottom: 5px;
				}
			}
	   }
   }
}

.martop10{
	margin-top: 10px;
}
#faq-list{
	display: none;
}
.course-stats{
	@include screen-size(xs){
		margin-top: 10px;
	}
	.pull-right{
		@include screen-size(xs){
			float: none !important;
		}
	}
}

a.university_name {
    text-decoration: none;
    font-weight: 400;
    margin-right: 4px;
    color: #000;
    letter-spacing: 0;
}
.see-similar {
    cursor: pointer;
    color: #2db04a;
}