$screen-lg: 1230px;
$screen-md-max: 1299px;
$screen-sm-max: 991px;
$screen-xs-max: 767px;

$screen-lg-min: 1230px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

$color-link:#2f5385;
$color-bg-nav:#069;
$color-1:#2762ad;
$white:#fff;
$color-2:#80ff9c;
$color-3:#2db04a;
$color-3-hover:#23a43f;
