$screen-lg: 1260px;
$screen-md-max: 1259px;
$screen-sm-max: 991px;
$screen-xs-max: 767px;

$screen-lg-min: 1260px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

$color-link:#2f5385;
$color-bg-nav:#069;
