@import "font-awesome-4.7.0/font-awesome";
@import "variables";
@import "mixin";
@import "common";
@import "sprites";
@import "header";
@import "footer";
@import "register";
@import "homepage";
@import "guide";
@import "universities";
@import "subjects";
@import "fair";
@import "careers";
@import "apply";
@import "compare";
@import "chat";